<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Music List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-list inset="true">
    <ion-item>
      <ion-label>Everything u are</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Kami Belum Tentu</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>o,Tuan</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Tropical Therapy</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Matsuri</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
